@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bobacolor1: #ad0082;
  --color-bobacolor2: #ff51ed;
  --color-bobacolor3: #732daf;
  --color-bobacolor4: #a800ff;
  --color-bobacolor5: #00a569;
  --color-bobacolor6: #ff00a8;
  --color-bobacolor7: #00ff7e;
  --color-bobacolor8: #3d8d97;
  --color-bobacolor9: #ba01ff;
  --color-bobacolor10: #ba01ff;

  --font-australian: "Australian", sans-serif;
  --font-bobaland: "Bobaland", sans-serif;
  --font-geistMono: "Geist Mono", monospace;
  --font-geistSans: "Geist", sans-serif;
  --font-impact: "Impact", sans-serif;

  --breakpoint-xs: 512px;
}

@font-face {
  font-family: "Australian";
  src: url("./fonts/australian.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Bobaland";
  src: url("./fonts/bobaland.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMonoVF.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVF.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Impact";
  src: url("./fonts/impact.ttf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bobacolor1: #ad0082;
  --color-bobacolor2: #ff51ed;
  --color-bobacolor3: #732daf;
  --color-bobacolor4: #a800ff;
  --color-bobacolor5: #00a569;
  --color-bobacolor6: #ff00a8;
  --color-bobacolor7: #00ff7e;
  --color-bobacolor8: #3d8d97;
  --color-bobacolor9: #ba01ff;
  --color-bobacolor10: #ba01ff;

  --font-australian: "Australian", sans-serif;
  --font-bobaland: "Bobaland", sans-serif;
  --font-geistMono: "Geist Mono", monospace;
  --font-geistSans: "Geist", sans-serif;
  --font-impact: "Impact", sans-serif;

  --breakpoint-xs: 512px;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Solami Background */
.bg-solami-bg-0 {
  background-image: url("/solami-background-0.png"),
    url("/solami-background-1.png");
  background-size: 100%, 100%;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

.bg-solami-bg-1 {
  background-image: url("/solami-background-1.png");
  background-size: 100%, 100%;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

.bg-left-image {
  background-image: url("/left-ornament.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-right-image {
  background-image: url("/right-ornament.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-solami-bg-bra {
  background-image: url("/nft-collections-bra.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.bg-solami-bg-melt {
  background-image: url("/game-green-melting.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.bg-solami-bg-wave {
  background-image: url("/bottom-footer-wave.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* Hover Scale */
.hover-scale {
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.1);
}
